<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>

    <body>
      <nav class="navbar navbar-fixed-top navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><%= projectName; %></a>
        <ul class="navbar-nav">
          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
          <% _.each(menuItems, function(category) { %>
            <li class="nav-item">
               <a class="nav-link" href="/categories/<%=category._id %>/<%= category.name %>"><%= category.name; %></a>
             </li>
          <% }) %>
        </ul>
      </nav>
